.button.enter-button {
    // position: relative;
    width: 96%;
    // margin-top: 10%;
    // margin-top: .7rem;
    // margin-left: 2.1%;
    margin: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}

.entered-border {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    border-radius: 30px;
    margin-left: 19%;
    margin-top: 8%;
    margin-bottom: 2%;
	overflow: hidden;
    border-radius: 30px;
	width: 9.2rem;
    height: 3.7rem;
	background: repeating-linear-gradient(
			rgb(26, 179, 46) 0%,
            rgb(26, 179, 46) 20px,
			rgb(0, 252, 0) 0px,
            rgb(0, 252, 0)  0px,
            rgb(26, 179, 46) 5px,
            rgb(0, 252, 0) 
    );
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transform: translateX(-20%) translateY(-20%);
	animation: animateBorder 25s linear infinite;
}

@keyframes animateBorder {
	from {
		background-position: 0 38px;
	}

	to {
		background-position: 0 450px;
	}
}