body {
    background-image: url(/appBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    body {
        background-size: 100em;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(9, 118, 241);
    margin: 15vh auto 15vh auto;
    height: 23em;
    width: 20em;
    border-radius: 15px;
    background-color: rgba(181, 196, 212, 0.74);
}

.button {
    width: 45%;
    height: 15%;
    margin: 7%;
    margin-top: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.heading {
    align-self: center;
    margin-top: 2%;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.techsee-icon {
    width: 1.3em;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 1%;
}

