html {
    height: 100%;
}

body {
    background: rgb(4,96,149);
    background: linear-gradient(121deg, rgba(4,96,149,1) 1%, rgba(103,170,214,1) 51%, rgba(7,98,156,1) 100%);
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto 15vh auto;
    max-width: 20em;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(9, 118, 241);
    margin: 25vh auto 15vh auto;
    max-width: 20em;
    border-radius: 15px;
    background-color: rgba(181, 196, 212, 0.74);
}

.button {
    flex-shrink: 0;
    min-width: 45%;
    min-height: 3.4em;
    margin: 7%;
    margin-top: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

