.alert {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -20%;
    opacity: 0;

    &.visible {
        top: 0;
        opacity: 1;
        transition: .5s top;

        &.hiding {
            transition: 1s opacity;
            opacity: 0;
        }
    }
}