.alert {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    visibility: hidden;
}

.alert.movedown {
    animation: moveDown 500ms linear forwards;
    visibility: visible;
    transition: 500ms visibility;
}

@keyframes moveDown {
    0% {
        top: -20%;
    }
    100% {
        top: 0;
    }
}

.alert.fade-exit {
    opacity: 1;
    visibility: visible;
}

.alert.fade-exit-active {
    opacity: 0.01;
    visibility: hidden;
    transition: opacity 1000ms, visibility 1000ms;
}
