.heading {
    align-self: center;
    margin-top: 2%;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .techsee-icon {
        width: 1.3em;
        border-radius: 10px;
        margin-right: 5px;
    }
}

.welcome-heading {
    margin-top: 15vh;
    margin-bottom: 0;
}
